body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}



table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}

table td {
    padding: 5px;
}

.table-container {
    height: 600px;
    overflow-y: auto;
}

table thead th {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
    position: sticky;
    top: 0;
}

table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
}

table tbody tr {
    background-color: #f9fafb;
}

table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type=text],
input[type=password],
input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00142d;
    margin: 0;
    color: #dadcdf
}

/* Füge das Logo als Hintergrundbild hinzu */
.navbar .logo {
    background-image: url('/Firefly 20240508165455.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    /* Höhe des Logos */
    width: 100px;
    /* Breite des Logos, anpassen nach Bedarf */
}

.navbar h1 {
    color: #dadcdf;
}

.navbar>ul {
    list-style-type: none;
}

.navbar a:hover {
    background-color: #303a47;
}

.navbar a {
    display: block;
    padding: 25px 45px 25px 45px;
    box-sizing: border-box;
    text-decoration: none;
    color: #dadcdf;
    font-weight: bold;
    font-size: 14px;
    min-width: 150px;
    text-align: center;
}

.navitems {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    flex-grow: 1;
    justify-content: right;
}

.catalog-table {
    width: 30%;
}

form {
    background-color: #dadcdf;
    /* display: inline-block; */
    /* width: fit-content; */
    padding: 5px;
}

.production-item-table {
    width: 100%;
}

.storage-movement-table {
    width: 50%;
}

.notification-container {
    height: 100px;
    width: 200px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #54585d;
    color: white;
    padding: 10px;
    border-radius: 5px;

}

.notification-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    cursor: pointer;
}

.chart-container {
    width: 400px;
    height: 400px;
}